/* ------------------------------------------- Styling and Colour */
body {
    color: #535353;
}

p {
  color: #535353; 
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  margin: 5px;
}

.structure {
    margin-left: 5%;
    margin-right: 5%;
}

#mobile-menu, .active {
    color: #EE8726;
}

 .title, h1 {
    font-family: 'Crimson Text', serif;
    text-align: center;
    color: #fff;
    font-size: 85px;
    padding-top: 10%;
}

.secondary-title, h1 {
    font-size: 50px;
}

.second-text, h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #fff;
    font-size: 25px;
    padding-left: 10%;
    padding-right: 10%;
}

/* buttons */
.btn-primary {
    font-size: 15px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: #EE8726;
    padding: 15px 30px 15px 30px;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus {
    background-color: #000000;
    border-color: #EE8726;
    color: #fff;
}

.btn, .btn-outline-primary {
    font-size: 15px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border-color: #EE8726;
    padding: 15px 30px 15px 30px;
    margin-top: 30px; 
}

.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:focus,
.btn-outline-primary:active:focus {
    background-color: #EE8726;
    border-color: #e28024;
    color: #fff;
}

#mobile-menu {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    color: #ffffff;
}

/* ---------------------------------------------- Navbar - Logo - Banner */
.navbar {
    margin-bottom: 0;
    width: 100%;
    border: 0;
    z-index: 1;
    position: absolute;
    background-color: rgba(0, 0, 0, .85);  
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, 
.navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #ee8726;
}

.navbar-brand {
    margin-left: 5% ;
}

#mobile-menu{
    margin-right: 5%;
    margin-left: 5%;
}

.navbar-toggler {
    margin-right: 10%;
}

.navbar-dark .navbar-toggler {
    color: #ffffff;
    border-color: #535353;
}

.nav-item {
    padding-left: 20px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.img-container {
    height: 100vh;

    background: url('../images/coffee-beans-BG.gif') rgba(0, 0, 0, .65)no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    background-blend-mode: multiply; /* Code From overflow*/

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

/* ------------------------------------ Whats New Coffee */
.about-coffee {
    padding-top: 80px;
    padding-bottom: 80px;  
}

.info-title, h4 {
    text-transform: uppercase;
    font-size: 15px;
    padding-bottom: 8px;
    letter-spacing: 2px;
}

.large-title, h3 {
    font-size: 55px;
    color: #000000;
    font-family: 'Crimson Text', serif;
}

.info-text, p {
    padding: 0 8% 0 8%;
}

.text-layout {
    padding-top: 10%;
}

/* ------------------------------------ Opening Hours */
.opening-hours {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #F6F3F2;
}

.opening-hours-main, table{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px; 
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.location {
    padding-top: 10px;
    padding-bottom: 20px;
}

.opening-hours-timetable {
    margin: 0 auto;
}

/* ------------------------------------ About the Coffee */
.fa-wifi, i {
    color: #000000;
    padding-top: 60px;
    font-size: 45px;
}

.wifi, p {
    font-size: 16px;
}

.text-layout-about {
    padding-top: 10%;
    padding-bottom: 10%;
}

/* ------------------------------------ Gallery */
.gallery {
    padding-top: 40px;
    padding-bottom: 80px;  
}

.gallery-title {
    padding-bottom: 40px;
}

/* ------------------------------------------------------------- Home Page ENDs */

/* ------------------------------------ About Us PAGE */
.img-container-secondary {
    height: 60vh;

    background: url('../images/About-us-bg.jpg') rgba(0, 0, 0, .65)no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-blend-mode: multiply; /* Code From overflow*/
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.background {
    background-color: #F6F3F2;
}

.fa-coffee, i {
    color: #000000;
    padding-top: 40px;
    font-size: 45px;
}

.img-gallery {
    padding-bottom: 30px;
}

/* ------------------------------------ Our Menu PAGE */
.img-container-ourmenu {
    height: 60vh;

    background: url('../images/Our-Menu-bg.jpg') rgba(0, 0, 0, .65)no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-blend-mode: multiply; /* Code From overflow*/
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.menu-title {
    padding-bottom: 40px;
}

.menu-img {
    border-radius: 50%;
    margin-bottom: 20px;
    height: 180px;
}

.coffee-prices{
    color: #EE8726;
    font-style: italic;
}

.coffee-menu-title {
    font-size: 40px;
    color: #000000;
    font-family: 'Crimson Text', serif;
}

.new-padding {
    padding-bottom: 50px;
}

.menu-list-img {
    border-radius: 50%;
    float: left;
    margin-right: 20px;
    height: 100px
}

.coffee-menu-secondary-title {
    font-size: 30px;
    color: #000000;
    font-family: 'Crimson Text', serif;
}

.info-menu-text {
    font-size: 13px;
    text-transform: capitalize;
}

.extras {
    padding-top: 50px;
}

/* ------------------------------------ Contact Us PAGE */
.img-container-contact-us {
    height: 60vh;

    background: url('../images/Contact-us-bg.jpg') rgba(0, 0, 0, .65)no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-blend-mode: multiply; /* Code From overflow*/
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.contact {
    align-items: center;
}

.google-maps, iframe {
    width: 100%;
    height: 550px;
    padding-bottom: 80px;
    border: none;
}

.location-title {
    padding-bottom: 40px;
}

/* ------------------------------------ Footer */
.footer-container {
    padding-top: 40px;
    background-color: #F6F3F2;
    bottom: 0;
}

.mobile-spacing {
    padding-bottom: 40px;
}

.footer-title, h4 {
    color: #000000;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding-bottom: 20px;
}

.coffee-shop {
    color: #000000;
    font-family: 'Crimson Text', serif;
    font-size: 18px;
}

.social-links, i {
   font-size: 25px;
   padding: 2px;
   margin: 0;
   color: #EE8726;
}

.social-links, i:hover,
.social-links, i:active,
.social-links, i:focus,
.social-links, i:active:focus{
    color:#000000
}

.opening-hours {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px; 
    align-items: center;
    justify-content: center;
}

.opening-hours, th {
    color: #000000;
}

.opening-border {
    border: solid 1px #000000;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10%;
    padding-left: 10%;
}

.footer-quote {
    font-family: 'Crimson Text', serif;
    font-size: 40px;
    color: #000000;
    padding-left: 8%;
    padding-right: 8%;
}

/* ------------------------------------ Media Queries */
@media (max-width: 414px) {
    .menu-list-img {
        display: none; /* help from stock overflow */
    }
}

@media (max-width: 320px) {
    .title, h1 {
        font-size: 35px;
    }

    .second-text, h2 {
        font-size: 18px;
    }

    .secondary-title, h1 {
    font-size: 35px;
    }
}

@media (max-width: 280px) {
    .structure {
        margin: 0;
    }

    .navbar-brand {
        margin-left: 0 ;
    }

    #mobile-menu{
        margin-right: 0;
    }
}

